[Desktop Entry]
Categories=Application;System;
Encoding=UTF-8
Exec=solydxk-conky
GenericName=SolydXK Conky configuration
GenericName[ca]=Configuració de SolydXK Conky 
GenericName[de]=SolydXK Conky Konfiguration
GenericName[fr]=Paramétrage du Conky SolydXK
GenericName[nb]=Konfigurasjon av SolydXK Conky
GenericName[nl]=SolydXK Conky configuratie
GenericName[pt]=Configuração SolydXK Conky
Icon=conky-manager
MimeType=
Name=SolydXK Conky
Name[ca]=SolydXK Conky
Name[de]=SolydXK Conky
Name[fr]=SolydXK Conky
Name[nb]=SolydXK Conky
Name[nl]=SolydXK Conky
Name[pt]=SolydXK Conky
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
