[Desktop Entry]
Categories=Application;System;
Encoding=UTF-8
Exec=solydxk-conky
GenericName[en_US]=SolydXK Conky configuration
GenericName=SolydXK Conky configuration
Icon=/usr/share/solydxk/logo.png
MimeType=
Name[en_US]=SolydXK Conky
Name=SolydXK Conky
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
