[Desktop Entry]
Categories=Application;System;
Encoding=UTF-8
Exec=solydxk-conky
GenericName=SolydXK Conky configuration
GenericName[nl]=SolydXK Conky configuratie
Icon=conky-manager
MimeType=
Name=SolydXK Conky
Name[nl]=SolydXK Conky
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
