/usr/lib/solydxk/conky/config.pyc
/usr/lib/solydxk/conky/conkyconfig.pyc
/usr/lib/solydxk/conky/dialogs.pyc
/usr/lib/solydxk/conky/functions.pyc
/usr/lib/solydxk/conky/logger.pyc
/usr/lib/solydxk/conky/treeview.pyc
/usr/lib/solydxk/conky/execcmd.pyc
/usr/lib/solydxk/conky/conky.pyc
