Source: solydxk-conky
Section: misc
Priority: optional
Maintainer: Arjen Balfoort <arjenbalfoort@solydxk.com>
Build-Depends: debhelper (>= 9)
  , python3 (>= 3.2)
  , intltool
  , transifex-client
  , translate-toolkit
X-Python3-Version: >= 3.2
Standards-Version: 3.9.6
Vcs-Git: git@github.com:SolydXK/solydxk-conky.git
Vcs-Browser: https://github.com/SolydXK/solydxk-conky

Package: solydxk-conky
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
  , python3
  , python3-gi
  , passwd
  , gir1.2-gtk-3.0
  , conky-all
  , lm-sensors
  , hddtemp
  , net-tools
  , python3-apt
  , acpi
Description: Conky theme for SolydXK.
 Run "solydxk-conky" to start the GUI for each user.
 .
 Possible parameters:
 * -help: the help screen.
 * -kill: kill the conky process.
 * -remove: remove configuration files for the current user.
 * -start: start Conky for the current user.
 * -restart: restart Conky for the current user.